# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# Виртуальное окружение
venv/
.venv/

# Модели и данные
*.pth
*.ckpt
*.pt
human_poses_data

# Jupyter
.ipynb_checkpoints/

# MacOS системные файлы
.DS_Store